<div class="detail-conatiner">
  <div class="btns">
    <app-button bgColor="#63736a" label="Back" (click)="goBack()"></app-button>
  </div>

  <div *ngIf="post" class="post-detail">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>

    <h3>Comments ({{ comments.length }})</h3>
    <ul class="comment-list">
      <li *ngFor="let comment of comments">
        <h4>{{ comment.name }}</h4>
        <p>
          <em>{{ comment.email }}</em>
        </p>
        <p>{{ comment.body }}</p>
      </li>
    </ul>
  </div>

      <div class="edit-and-delete">

        <app-button bgColor="green" label="Edit Post" (click)="editPost()"></app-button>
        <app-button bgColor="red" label="Delete Post" (click)="deletePost()"></app-button>

    </div>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
</div>
