@use '../app/styles/mixins' as *;

header {
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  @include flex-center-between;

  .btns {
  @include flex-center-between;
  gap: 1rem;
  }
}



main{
  padding: 1rem;
}